# Игнорирование всех файлов .pyc и кэша Python
__pycache__/
*.py[cod]

# Игнорирование конфигурационного файла с токенами
config.py

# Игнорирование файлов окружения и зависимостей
.env
*.env
*.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Игнорирование файлов логов
*.log
*.out
*.err

# Игнорирование директорий IDE
.idea/
.vscode/
